/*
    via http://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on/
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

* {
  background-repeat: no-repeat;
}

.logo {
  background-repeat: no-repeat;
  background-image: url(logo.png);
}

* {
  position: relative;
}

* {
  vertical-align: middle;
}

